{% load static %}
<footer class="w-full flex flex-col gap-5 md:gap-10 px-3 lg:px-28 pb-16 pt-8 lg:pt-28" style="background-image: url('{% static 'images/home3.jpg' %}'); background-size: cover; background-position:center">
    <div class="flex flex-col gap-5 md:gap-10 lg:flex-row justify-between">
        <div class="flex flex-col gap-3 text-center lg:text-left">
            <a href="{% url 'home' %}">
                <h2 class="text-xl md:text-3xl font-bold opacity-75">Siliconn Kenya</h2>
            </a>
            <p class="w-full md:w-3/4 mx-auto lg:mx-0 text-center lg:text-left text-sm text-white opacity-75 leading-relaxed md:leading-loose">We strive to provide innovative solutions that meet our clients’ needs<br /> while adhering to the highest standers of quality and safety.</p>
        </div>
        <div class="flex flex-col gap-3 text-center lg:text-right">
            <h2 class="text-white opacity-75 text-xl uppercase">Get in Touch</h2>
            <div>
                <p class="leading-relaxed md:leading-loose text-white text-sm">+254 712 345 678</p>
                <p class="leading-relaxed md:leading-loose text-white text-sm">siliconnkenya@gmail.com</p>
                <!-- <p class="leading-relaxed md:leading-loose text-white text-sm">Lorem, ipsum dolor 237, sit amet consectetur, adipisicing</p> -->
            </div>
        </div>
    </div>
    <div class="w-full border-t border-white border-opacity-25"></div>
    <div>
        <p class="text-sm md:text-base text-white uppercase text-center">&copy; 2024 Siliconn Kenya. All Rights Reserved.</p>
    </div>
    <div class="flex items-center justify-center gap-3">
        <div class="group w-8 h-8 flex items-center justify-center border border-white border-opacity-75 cursor-pointer hover:bg-white transition-text ease-in-out duration-1000">
            <a href="https://x.com/SiliconnKenya" target="_blank"class="ri-twitter-x-line text-white group-hover:text-black transition-text ease-in-out duration-1000"></a>
        </div>
        <div class="group w-8 h-8 flex items-center justify-center border border-white border-opacity-75 cursor-pointer hover:bg-white transition-text ease-in-out duration-1000">
            <a href="https://github.com/siliconnkenya" target="_blank"class="ri-github-line text-white group-hover:text-black transition-text ease-in-out duration-1000"></a>
        </div>
        <div class="group w-8 h-8 flex items-center justify-center border border-white border-opacity-75 cursor-pointer hover:bg-white transition-text ease-in-out duration-1000">
            <a href="https://www.threads.net/@siliconn_kenya" target="_blank" class="ri-threads-line text-white group-hover:text-black transition-text ease-in-out duration-1000"></a>
        </div>
        <div class="group w-8 h-8 flex items-center justify-center border border-white border-opacity-75 cursor-pointer hover:bg-white transition-text ease-in-out duration-1000">
            <a href="https://www.instagram.com/siliconn_kenya" target="_blank" class="ri-instagram-line text-white group-hover:text-black transition-text ease-in-out duration-1000"></a>
        </div>
        <div class="group w-8 h-8 flex items-center justify-center border border-white border-opacity-75 cursor-pointer hover:bg-white transition-text ease-in-out duration-1000">
            <a href="https://youtube.com/@siliconnkenya?si=skQwHiQHtZUjZ4jY" target="_blank" class="ri-youtube-line text-white group-hover:text-black transition-text ease-in-out duration-1000"></a>
        </div>
    </div>
    <div>
        <p class="leading-relaxed md:leading-loose text-white text-sm text-center">Made with <i class="ri-heart-fill text-red-500"></i> by Naaman</p>
    </div>
</footer>