{% load static %}

<section id="about" class="w-full bg-white px-3 lg:px-28 pt-32 flex flex-col lg:flex-row gap-10">
    <div class="w-full lg:w-1/2 flex">
        <div class="w-full h-96 md:w-96 md:mx-auto lg:mx-0 lg:w-92  p-5" style="background-image: url('{% static 'images/silicon3.jpg' %}'); background-size: cover; background-position: center;">
            <div class="w-full h-full flex flex-col justify-center items-center bg-white">
                <h1 class="text-9xl font-bold text-transparent bg-clip-text bg-cover bg-center" style="background-image: url('{% static 'images/home3.jpg' %}');background-size: cover; background-position: center;">
                    2
                </h1>
                <p class="uppercase text-gray-900 mt-10 tracking-wide text-sm">Years of operation</p>
            </div>
        </div>
    </div>
    <div class="w-full lg:w-1/2 text-center md:text-left flex flex-col gap-5">
        <h2 class="uppercase tracking widest text-base text-gray-900">About Us</h2>
        <h3 class="font-bold text-black tracking-wider text-3xl">Welcome to <br />SILICONN KENYA.</h3>
        <div class="text-center md:text-left flex flex-col md:gap-10 leading-loose text-gray-500">
            <p>SILICONN KENYA is a vibrant and dynamic tech community dedicated to fostering innovation, collaboration, and growth among tech enthusiasts in Kenya and beyond. We believe in the power of open-source technology and the immense potential it holds to transform our society.</p>
            <h3 class="font-bold text-black tracking-wider text-3xl">Our Mission</h3>
            <p>Empowering tech enthusiasts to learn, collaborate and innovate by building impactful solutions to real-world problems.</p>
        </div>
    </div>
</section>