<section id="testimonials" class="w-full bg-white px-3 lg:px-28 pb-20 pt-32">
    <div class="w-full lg:w-1/2 text-center md:text-left flex flex-col gap-5">
        <h2 class="uppercase tracking widest text-base text-gray-900">Testimonials</h2>
        <h3 class="font-bold text-black tracking-wider text-3xl">They love us.</h3>
    </div>
    <div class="w-full flex flex-col gap-10 lg:flex-row justify-between mt-10">
        <!-- Card for the people -->
        <div id="peopleCard" class="hidden lg:block lg:w-40 h-72 p-10 border border-black overflow-auto">
            <ul id="peopleList" class="space-y-4">
                <li class="person-name active" data-index="0">Ryan</li>
                <li class="person-name" data-index="1">Rolex</li>
                <li class="person-name" data-index="2">Logol</li>
            </ul>
        </div>
        <!-- Card for the testimonies -->
        <div id="testimoniesCard" class="w-full lg:w-3/4 h-72 shadow-2xl p-10 overflow-hidden">
            <div id="testimoniesWrapper" class="w-full h-full flex flex-col space-y-5">
                <div class="w-full h-full text-center p-2 md:p-5 leading-loose text-gray-500 testimony" data-index="0">
                    <p class="leading-loose text-gray-500">Joining SILICONN KENYA has been transformative. The collaborative projects and resources boosted my skills tremendously.</p>
                    <h3 class="font-bold text-black tracking-wider text-xl">-Ryan</h3>
                </div>
                <div class="w-full h-full text-center p-2 md:p-5 leading-loose text-gray-500 testimony" data-index="1">
                    <p class="leading-loose text-gray-500">The mentorship and networking opportunities at SILICONN KENYA helped me land my dream job in tech!</p>
                    <h3 class="font-bold text-black tracking-wider text-xl">-Rolex</h3>
                </div>
                <div class="w-full h-full text-center p-2 md:p-5 leading-loose text-gray-500 testimony" data-index="2">
                    <p class="leading-loose text-gray-500">Innovation thrives here. The hackathons and creative projects have pushed my tech abilities beyond my expectations.</p>
                    <h3 class="font-bold text-black tracking-wider text-xl">-Logol</h3>
                </div>
            </div>
        </div>
    </div>
</section>
